{% extends 'app/base.html' %} {% block content %}
<!-- hero section -->
<section class="about-hero" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto text-center">
        <h5 class="mb-3">ABOUT US</h5>
        <h2 class="">Creative Blog Writting and publisging on the site</h2>
        <p class="small-p py-3 mb-4 text-center w-75 mx-auto">
          AI is transforming the way we live, work, and play. With advancements
          in artificial intelligence, we can improve efficiency.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="about-section">
  <div class="container">
    <div class="row py-5">
      <figure class="col-12 banner-wraper">
        <img
          src="./img/Image Placeholder (18).png"
          alt=""
          class="img-fluid about-banner"
        />
      </figure>
      <div class="col-12">
        <p class="fw-bold big-p">HOW WE WORK</p>
        <h2>I will show you how our team is working</h2>
      </div>
      <!-- card section -->
      <div
        class="row about-card-wrapper justify-content-lg-between justify-content-center"
      >
        <div class="col-lg-4 card p-0 border-0">
          <div
            class="card-body p-4 about-card abtc-active"
            style="width: 22rem"
          >
            <h2 class="card-title text-gary">01</h2>
            <h5>Brainstroming</h5>
            <p class="text-gary">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consequatur quisquam cum nam. Qui explicabo, fuga officia vel esse
              aliquid ipsum, accusamus obcaecati neque atque et.
            </p>
            <a href="" class="card-link">Learn More</a>
          </div>
        </div>
        <div class="col-lg-4 card p-0 border-0">
          <div class="card-body p-4 about-card" style="width: 22rem">
            <h2 class="card-title text-gary">02</h2>
            <h5>Analysing</h5>
            <p class="text-gary">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consequatur quisquam cum nam. Qui explicabo, fuga officia vel esse
              aliquid ipsum, accusamus obcaecati neque atque et.
            </p>
            <a href="" class="card-link">Learn More</a>
          </div>
        </div>
        <div class="col-lg-4 card p-0 border-0">
          <div class="card-body p-4 about-card" style="width: 22rem">
            <h2 class="card-title text-gary">03</h2>
            <h5>News Publishing</h5>
            <p class="text-gary">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consequatur quisquam cum nam. Qui explicabo, fuga officia vel esse
              aliquid ipsum, accusamus obcaecati neque atque et.
            </p>
            <a href="" class="card-link">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- strory -->
    <div class="row about-story">
      <div class="col-lg-6 col-12">
        <h1 class="mb-5">Our Story</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
          quisquam cum nam.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
          quisquam cum nam.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
          quisquam cum nam.
        </p>
      </div>
      <figure class="col-lg-6 col-12">
        <img
          src="./img/Image Placeholder (3).png"
          alt=""
          class="img-fluid w-75 d-block ms-lg-auto"
        />
      </figure>
    </div>

    <!-- our mission -->
    <div class="row about-mission">
      <figure class="col-lg-6 col-12">
        <img
          src="./img/Image Placeholder (7).png"
          alt=""
          class="img-fluid w-75 d-block"
        />
      </figure>
      <div class="col-lg-6 col-12">
        <h1 class="mb-5">Our Mission</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
          quisquam cum nam.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
          quisquam cum nam.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
          quisquam cum nam.
        </p>
      </div>
    </div>
  </div>
</section>

{% include 'app/inc/subscribe.html' %} {% endblock %}
