{% extends 'app/base.html' %} {% block content %}
<!-- hero section -->
<section class="about-hero" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto text-center">
        <h5 class="mb-3">ABOUT US</h5>
        <h2 class="">Creative Blog Writting and publisging on the site</h2>
        <p class="small-p py-3 mb-4 text-center w-75 mx-auto">
          AI is transforming the way we live, work, and play. With advancements
          in artificial intelligence, we can improve efficiency.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="about-section">
  <div class="container">
    <div class="row py-5">
      <figure class="col-12 banner-wraper">
        <img
          src="{{about_single.image.url}}"
          alt=""
          class="img-fluid about-banner"
        />
      </figure>
      <div class="col-12">
        <p class="fw-bold big-p"> {{about_single.title}}
        </p>
        <h2>{{about_single.body}}</h2>
      </div>
      <!-- card section -->
      <div class="row about-card-wrapper justify-content-lg-between justify-content-center">
        
        {% for card in cards %}
        <div class="col-lg-4 p-0 border-0">
          <div class="card-body p-4 about-card" style="width: 22rem">
            <h2 class="card-title text-gary">0{{card.id}}</h2>
            <h5>{{card.title}}</h5>
            <p class="text-gary">
              {{card.body|slice:":350"}}...
            </p>
          </div>
        </div>

        {% endfor %}
          
        
      </div>
    </div>
    <!-- strory -->
    <div class="row about-story">
      <div class="col-lg-6 col-12">
        <h1 class="mb-5">{{our_story.title}}</h1>
        <p>
         {{our_story.body | slice:":395"}}
        </p>
      </div>
      <figure class="col-lg-6 col-12">
        <img
          src="{{our_story.image.url}}"
          alt=""
          class="img-fluid w-75 d-block ms-lg-auto"
        />
      </figure>
    </div>

    <!-- our mission -->
    <div class="row about-story">
      <figure class="col-lg-6 col-12">
        <img
          src="{{our_mission.image.url}}"
          alt=""
          class="img-fluid w-75 d-block"
        />
      </figure>
      <div class="col-lg-6 col-12">
        <h1 class="mb-5">{{our_mission.title}}</h1>
        <p>
         {{our_mission.body|slice:":375"}}
        </p>
        
      </div>
    </div>
  </div>
</section>

{% include 'app/inc/subscribe.html' %} {% endblock %}
