{% extends 'app/base.html' %}


{% comment %} {% block style %}
<style>
    .login_section{
        background-image:url("./img/banner.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0 !important;
    }
    .bg-primary{

        background-color: var(--primary) !important;
        color: var(--white);
    }
    .form-control{
        border-radius: 0;
        padding: 8px 12px;
        box-shadow: none !important;
    }
    .form-control:focus{
        border-color: var(--primary);
    }
    .btn-wrap{
        margin-top: 35px;
    }
</style>
{% endblock  %}
     {% endcomment %}

{% block content %}
<section class="login_section  pb-5 mb-5" style="background-color:aliceblue;">
    <div class="container  pb-5">
        <div class="row ">
            <div class="col-lg-4 col-10 shadow-lg bg-white mx-auto mt-5 p-0 rounded-2 overflow-hidden">
                <h4 class="py-2   text-center bg-color text-white">Login</h4>
                <form action="/login/" method="POST" class="px-4 py-3">
                   {% csrf_token %}
                   {{form}}
                   <div class="form-goup  btn-wrap mt-4 ">
                    <input type="submit" value="Login" class="primary-btn px-4 w-100">
                    <p class="mt-3 text-center">Don't have an account ? <a href="/register/">Register</a></p>
                   </div>
                   
                   {% for e in form.fields.errors %}
                        {{e}}
                   {% endfor %}
                    
                </form>
            </div>
        </div>
    </div>

</section>

{% endblock  %}
    