<section class="get-start-section bg-color" id="get-start">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h3 class="text-center text-white">
            Get our stories delivered From us to your inbox Weekly
          </h3>
          <form action="" class="mx-auto w-75 mt-5">
            <fieldset class="row">
              <div class="col-lg-8">
                <input
                  type="email"
                  name=""
                  id=""
                  class="form-control shadow-none py-2 bg-transparent email text-white"
                  placeholder="Your Email"
                />
              </div>
              <div class="col-lg-4 mt-3 mt-lg-0 text-end">
                <a href="#" type="button" class="btn btn-outline-light py-2 w-100"
                  >Get Start</a
                >
              </div>
            </fieldset>
          </form>
          <p class="small-p mt-5 text-light text-center px-5">
            Get response tomorrow if you submit by gmp today. if we receiveed
            after gmp will get resonse the following days.
          </p>
        </div>
      </div>
    </div>
  </section>