{% extends 'app/base.html' %} 
{% load static %}
{% block content %}

<section class="section-404 page-not-found">
  <div class="container">
    <div class="row card-wrapper-404">
      <div class="col-lg-7 card-404">
        <div class="content">
          <h1 class="h1-404 fw-bold mb-3">404</h1>
          <span>Sorry !</span>
          <span>The link is brocken try to refresh or go to home</span>
          <a href="/" class="btn-404">Go To Home</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
